#main{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

h1#title{
	display: inline-block;
	padding-right:20px;
	border-right: 1px solid #000000;
}

p#describe{
	display: inline-block;
	padding-left:20px;
}

img{
	margin-top: 12px;
	margin-bottom: 26px;
}
<<<<<<< HEAD

#head{
	text-align: center;
}
